.side_bar{

    -fx-background-color: radial-gradient( center 50% -40%, radius 50%, #B2D8D8, #008080 );

}

.upper_rightBar{
    -fx-background-color: linear-gradient( #008080 , #004C4C);
    -fx-background-radius: 0 0 30 30;
}

.choicebox_status{

-fx-background-color: transparent;
}

.border_chats{

-fx-border-color: #edf2f2 ;
-fx-border-radius: 3px;

}

.logo_background{
    -fx-background-color: white;
}

TabPane{
    -fx-background-color:  #004C4C;
    -fx-outer-border :    #004C4C;
    -fx-text-box-border: #083e3e;
    /*-fx-text-box-border:linear-gradient( rgba(0,76,76,1) 0%, rgba(48,118,133,1) 100%);*/
  /*-fx-background-color:  linear-gradient( rgba(0,76,76,1) 0%, rgba(48,118,133,1) 100%);*/


    -fx-background-color:transparent;
 

}

.signOut {
    -fx-background-color: #69e3e3;

}

.startBtn{
    -fx-background-color: #173535;
    -fx-text-fill: white;

}
.startBtn:hover{
    -fx-background-color: #1c5454;


}
.signOut:hover{
    -fx-background-color: #0e3535;
    -fx-text-fill: white;

}
.logos:hover{
    /*-fx-border-color: red;*/
    /*-fx-border-width: 5px;*/
    -fx-fill: #5282f6;
}
.tab
{
    -fx-background-color: #004040;

}
.tab:hover {
    -fx-background-color: #36b3b3;

}

.tab:selected{
    -fx-background-color: #338383;
}
#profileTab{
	 -fx-background-color:  #004C4C;
    -fx-outer-border :    #004C4C;
    -fx-text-box-border: #004C4C;
	-fx-background-color:transparent;
    -fx-padding:0 80;

 -fx-tab-min-width:120px;
  -fx-tab-max-width:120px;
  -fx-tab-min-height:50px;
  -fx-tab-max-height:50px;

}

.scroll-pane
{
    -fx-background-color: transparent;
    /*-fx-border-color: derive(gray, 100%);*/
    -fx-padding: 0px;
}

.scroll-pane .scroll-bar:vertical
{
    -fx-background-color: transparent;
    -fx-background-radius: 0;

}

.scroll-pane .scroll-bar:vertical .track
{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
    -fx-border-radius: 2em;
}

.scroll-pane .scroll-bar:horizontal .decrement-button
{
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 0 10 0;

}

.scroll-pane .scroll-bar:vertical .decrement-button
{

    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 10 0 0;
}

.scroll-pane .scroll-bar .increment-arrow,
.scroll-pane .scroll-bar .decrement-arrow
{
    -fx-padding: -2;


}

.scroll-pane .scroll-bar:vertical .thumb
{
    -fx-background-color: #bab4ae;
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

.my-list-cell {

    -fx-text-fill: white;
}